@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  transition: background-color 0.4s, color 0.4s;
  scroll-behavior: smooth;
}

body {
  @apply transition-colors duration-500 ease-in-out;
  font-family: 'Inter', sans-serif;
}

.dark .neon-text {
  text-shadow: 0 0 5px #39FF14, 0 0 15px #39FF14, 0 0 30px #39FF14;
}
